@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: rgba(200, 200, 200, 1);
    background-image: url("https://media.discordapp.net/attachments/366160654442299395/849700056163549214/image0-129.gif?ex=66327ad8&is=662005d8&hm=f68dac4b5d39d2c33e64ee642beaa8a792dc35a5fe96225d627beb84de8de358&");
}

.creationForm {
    background-color: cyan;
}
